@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --stripe-color: #000000;
    --bg: var(--stripe-color);
    --maincolor: var(--bg);
  }
}

body {
  background: var(--bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*main back effect*/

@keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}
/*houdini*/
/*custom*/

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  --stripes: repeating-linear-gradient(
    100deg,
    var(--stripe-color) 0%,
    var(--stripe-color) 7%,
    transparent 10%,
    transparent 12%,
    var(--stripe-color) 16%
  );

  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(10px) opacity(50%) saturate(200%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 80%);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}

:has(:checked) {
  --stripe-color: #000;
}
:has(:checked) .hero,
:has(:checked) .hero::after {
  filter: blur(10px) invert(100%);
}

.content-back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-flow: column;
  gap: 4.5%;
  text-align: center;
  mix-blend-mode: difference;
  -webbkit-mix-blend-mode: difference;
  filter: invert(0);
}
.content-back-contactus {
  position: absolute;
  inset: 0;
  place-items: center;
  flex-flow: column;
  filter: invert(1);
}

.h1--scalingSize {
  font-size: calc(1rem - -5vw);
  position: relative;
}

#switch {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
}

[for="switch"] {
  cursor: pointer;
  transition: 0.15s linear(0 0%, 0.16 16.85%, 0.32 31.73%, 1 100%);
  will-change: transform, font-weight;
  padding: 0.5rem;
}

[for="switch"]:where(:hover, :active, :focus-within) {
  /*transform: scale(1.2);
  font-weight: 900;*/
  transition: 0.3s ease;
  animation: animSwitch 0.2s alternate;
  & .icon {
    animation-play-state: paused;
  }
}

@keyframes animSwitch {
  50% {
    transform: scale(1.2);
    font-weight: 900;
  }
}

/*icon houdini*/
.icon {
  width: 1lh;
  height: 1lh;
  aspect-ratio: 1/1;
  padding: 0.25em 0.35rem;
  border-radius: calc(1px / 0);
  border: 1px dashed;
  --blink-opacity: 1;
  animation: blink-animation 2s ease-in-out infinite running;
}

/*challenge*/
.h1--scalingSize::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  background: rgb(
    0,
    0,
    0
  ); /* You can change this to a darker color if needed */
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.8), 0 0 100px rgba(255, 255, 255, 0.5); /* Increased shadow for better contrast */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: rgb(0, 0, 0);
  -webkit-mask: linear-gradient(#000000 0 0) luminance;
  mask: linear-gradient(#000000 0 0) luminance, alpha;
  backdrop-filter: blur(19px) brightness(1.5); /* Adjusted brightness */
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.9); /* Increased stroke width and opacity */
  display: flex;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}

/* Gradient Text for navbar */
:root {
  --glow-color: hsl(186, 100%, 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-text {
  position: relative;
  color: var(--glow-color);
  font-family: "Raleway", sans-serif;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: 100;
  cursor: pointer;
  display: inline-block; /* Make the text inline-block for better control */
  padding: 1px; /* Add some padding for better click area */
}

.glowing-text::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(10px);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-text:hover,
.glowing-text:active {
  color: rgb(254, 254, 254);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 10px var(--glow-color),
    0 0 15px var(--glow-color), 0 0 20px var(--glow-color),
    0 0 25px var(--glow-color);
  animation: text-flicker 3s linear infinite; /* Add flicker animation on hover and active */
}

.glowing-text:hover::before,
.glowing-text:active::before {
  filter: blur(1.5em);
  opacity: 1;
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-text {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}

/* Glowing Text Effect */
.h1-glow {
  position: relative;
  display: inline-block; /* Make the text inline-block for better control */
  font-size: 5em; /* Adjust font size as needed */
  background: linear-gradient(
    90deg,
    rgba(5, 238, 110, 1),
    rgba(2, 243, 150, 1),
    rgba(10, 205, 208, 1),
    rgba(4, 218, 242, 1)
  ); /* Gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
    /* White glow */ 0 0 5px rgba(253, 253, 253, 0.357),
    /* Green glow */ 0 0 5px rgba(217, 0, 255, 0.7),
    /* Light green glow */ 0 0 10px rgba(3, 251, 255, 0.7),
    /* Cyan glow */ 0 0 10px rgba(0, 0, 0, 0.997); /* Light cyan glow */
  animation: glow 1s infinite alternate; /* Apply the glow animation */
}

/* Glowing Text Effect */
.p-glow {
  position: relative;
  display: inline-block; /* Make the text inline-block for better control */
  font-size: 2em; /* Adjust font size as needed */
  color: #ffffff; /* Text color */
  font-weight: 10; /* Light-medium font weight */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden; /* Ensure the glow doesn't overflow the container */
  white-space: nowrap; /* Prevent text wrapping */
}

.p-glow::before {
  content: attr(data-text); /* Use the same text for the glow effect */
  position: absolute;
  top: 0;
  left: -100%; /* Start off-screen to the left */
  color: rgba(0, 0, 0, 0.5); /* Color of the glow */
  text-shadow: 0 0 5px rgba(255, 0, 255, 0.5), 0 0 10px rgba(255, 0, 255, 0.5),
    0 0 20px rgba(255, 0, 255, 0.7), 0 0 30px rgba(255, 0, 255, 0.5),
    0 0 40px rgba(255, 0, 255, 0.3);
  animation: glow-left 2s linear infinite; /* Left to right animation */
}

.p-glow::after {
  content: attr(data-text); /* Use the same text for the glow effect */
  position: absolute;
  top: 0;
  right: -100%; /* Start off-screen to the right */
  color: rgba(255, 0, 255, 0.5); /* Color of the glow */
  text-shadow: 0 0 5px rgba(255, 0, 255, 0.5), 0 0 10px rgba(255, 0, 255, 0.5),
    0 0 20px rgba(255, 0, 255, 0.7), 0 0 30px rgba(255, 0, 255, 0.5),
    0 0 40px rgba(255, 0, 255, 0.3);
  animation: glow-right 1s linear infinite; /* Right to left animation */
}

/* Keyframes for left to right glow effect */
@keyframes glow-left {
  0% {
    left: -100%; /* Start off-screen to the left */
  }
  100% {
    left: 100%; /* Move to off-screen to the right */
  }
}

/* Keyframes for right to left glow effect */
@keyframes glow-right {
  0% {
    right: -100%; /* Start off-screen to the right */
  }
  100% {
    right: 100%; /* Move to off-screen to the left */
  }
}

/*this is for paragraph*/
.p-low {
  position: relative; /* Make the text inline-block for better control */
  font-size: 1em; /* Adjust font size as needed */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 10;
  color: #ffffff;
  opacity: 100%;
}

/*homepage explore our services*/
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #050505;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*homepage service section */
.sec_service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.sec_service .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.sec_service .box::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.sec_service .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.sec_service .box:hover:before,
.sec_service .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.sec_service .box:nth-child(1):before,
.sec_service .box:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.sec_service .box:nth-child(2):before,
.sec_service .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.sec_service .box:nth-child(3):before,
.sec_service .box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.sec_service .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.sec_service .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.sec_service .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.sec_service .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.sec_service .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.sec_service .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.sec_service .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.sec_service .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.sec_service .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.sec_service .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.sec_service .box .content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/*Getstarted button at nav bar*/

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  width: 85px;
  cursor: pointer;
  padding: 1px 1px;
  border: 3px solid var(--glow-color);
  border-radius: 10px;
  background: none;
  perspective: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 100;

  -webkit-box-shadow: inset 0px 10px 0.5px 0px var(--glow-color),
    0px 0px 0.5px 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5px 0px var(--glow-color),
    0px 0px 0.5px 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5px 0px var(--glow-color),
    0px 0px 0.5px 0px var(--glow-color);
  animation: border-flicker 3s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.2;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1px;
  }
}

/*service page cards*/

.nft {
  user-select: none;
  max-width: 500px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    }
  }
}
.description {
  margin: 0.5rem 0;
  color: #a89ec9;
  font-weight: 10;
}
.sub-start {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.5em; /* Adjust font size as needed */
  background: linear-gradient(
    90deg,
    #ee83e5,
    #a89ec9,
    #b202f2
  ); /* Example gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
}

/* Additional custom styles can go here */
.section {
  opacity: 0; /* Start hidden */
  transform: translateY(50px); /* Start slightly below */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transition effects */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}
